aiofiles
aiohttp
beautifulsoup4
certifi
cloudscraper
colorama
dnspython
flask
gunicorn
hachoir
httpx
motor
Pillow
pycryptodome
PyJWT
pymongo
pyrogram==2.0.106
pyromod==1.5
python-dotenv
python-telegram-bot==20.6
pytz
requests
termcolor
tgcrypto
tqdm
urllib3
